{% extends "home.html" %}


{% block content %}

<h3>제목</h3>
<form method="update" >
    {% csrf_token %}
    <input type="text" name="TodoList_text" value="{{ object.TodoList_text }}" />
    <h3>내용</h3>
    <input type="text" name="TodoList_content" value="{{ object.TodoList_content }}"
        style="width: 500px ;height: 300px;" />
    <h3>시간</h3>
    <input type="datetime-local" id="start" name="trip-TodoList_when" value="{{todolist.TodoList_when|date:'Y-m-d'}}T{{todolist.TodoList_when|time:'H:i:s'}}">
    <h3>완료여부</h3>
    {% if object.TodoList_bool %}
    <input type="checkbox" name="TodoList_bool" value="HTML" checked>
    {% else %}
    <input type="checkbox" name="TodoList_bool" value="HTML">

    {% endif %}

    <h3>장소</h3>
    <input type="text" name="TodoList_text" value="{{ object.TodoList_where }}" />

    <br>
    <input type="submit" value="수정하기">
</form>


{% endblock content %}