{% extends "base.html" %}

{% block content %}

<a href="{% url 'todolist:new' %}">새로 만들기</a>

<h2>todolist List</h2>

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>우선순위</th>
            <th>제목</th>
            <th>목표시간</th>
            <th>작성자</th>
        </tr>
        </thead>    
        <tbody>
            {% if latest_todolist_list %}
            {% for TodoList in latest_todolist_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'todolist:detail' TodoList.id %}">{{ TodoList.TodoList_text }}</a>
            </td>
            <td>{{ TodoList.TodoList_when }}</td>
            <td>{{ TodoList.user }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No Todolist</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div

{% endblock %}